@tailwind base;
@tailwind components;
@tailwind utilities;

.whole-website{
    font-family: poppins;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

.texture-bg{
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

.header-bg{
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}