@tailwind base;
@tailwind components;
@tailwind utilities;

#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(76, 189, 151);
    border-radius: 5px;
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle .bars {
    margin-left: 13px;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: rotate(135deg);
    margin-left: 0;
    transform-origin: center;
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    transform: rotate(45deg);
    transition-duration: .3s;
    transform-origin: left center;
  }
  
  #checkbox:checked + .toggle #bar3 {
    transform: rotate(-45deg);
    transition-duration: .3s;
    transform-origin: left center;
  }

  @keyframes slideLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slideLeft {
    animation: slideLeft 3s ease-in-out forwards;
  }
  
  /* Keyframes for sliding from right to left */
@keyframes slideRight {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

/* Animation class for sliding from right to left */
.animate-slideRight {
  animation: slideRight 3s ease-in-out forwards;
}

  
  