@tailwind base;
@tailwind components;
@tailwind utilities;

.whole-website{
    width: 100%;
    font-family: poppins;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

.texture-bg{
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
}

.NavBar-bg{
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

body{
    width: 100%;
    font-family: poppins;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
}

#glow {
    -webkit-text-stroke: 0.5px #30dac6;
    text-shadow: -1px 1px 2px #30dac6,
				  1px 2px 6px #30dac6,
				  1px -1px 0 #30dac6,
				  -1px -1px 0 #30dac6;
}

#myVideo {
    position: absolute;
    visibility: visible;
    width: 90vw;
}